/*////////////////////////////////////////////////////
// DISEÑO GENERAL/////////////////////////////////////
////////////////////////////////////////////////////*/


@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


:root {
    --skyblue: #55ffb2;
    --turquoise: #55ffb2;
    --blue: rgb(0,10,51);
    --darkshadow: rgba(0, 255, 255, 0.2);
}


* {
    /* Configuracion Universal */
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}


html {
    overflow: hidden;
}


html,
body {
    height: 100%;
    background: var(--blue);
    background: linear-gradient(0deg, rgba(0,10,51,0.5970763305322129) 14%, rgba(0,10,51,1) 69%);
    box-shadow: 0 0 12rem var(--darkshadow) inset;
}


/*////////////////////////////////////////////////////
// HEADER ////////////////////////////////////////////
////////////////////////////////////////////////////*/


header {
    width: 100%;
    /* arriba y abajo | izquierda y derecha */
    padding: 2rem 4rem 1rem;
}


nav {
    display: flex;
    justify-content: start;
    align-items: center;
}


.logo {
    background-image: url("../images/logoalura.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
    padding: 2rem;
    border: solid 4px var(--skyblue);
    border-radius: 100%;
    box-shadow: 0rem 0.1rem 0.6rem var(--turquoise);
    animation: slide 1s infinite;
}


h1 {
    padding: 0rem 4rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--skyblue);
    text-shadow: 0rem 0.1rem 1rem var(--turquoise);
    font-size: 2rem;
}


span {
    animation: blink 1s infinite;
}


/*////////////////////////////////////////////////////
// SECCIÓN DEL CUERPO/////////////////////////////////
////////////////////////////////////////////////////*/


main {
    width: 100%;
    height: 60%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem 4rem;
}


.in-section {
    width: 70%;
}


.out-section {
    width: 20%;
}


/*////////////////////////////////////////////////////
// TEXTAREA/////////////// ///////////////////////////
////////////////////////////////////////////////////*/


.textarea-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}


.textarea-container>textarea {
    background-color: transparent;
    font-size: 1rem;
    color: var(--skyblue);
    padding: 1rem;
    width: 100%;
    height: 100%;
    resize: none;
    border: solid 1px var(--skyblue);
    transition: all 0.6s linear;
    box-sizing: border-box;
    border-radius: 0.4rem;

}


.textarea-container>textarea::placeholder {
    color: var(--skyblue);
    opacity: 0.5;
}


.textarea-container>textarea:focus {
    outline: none;
    border: solid 3px var(--skyblue);
    box-shadow: 0px 0px 10px 2px var(--turquoise) inset;
}


.textarea-container>button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
}


.radiation {
    background-image: url(../images/radio.png);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
    transition: background-size 0.5s ease;
}

.radiationS {
    background-image: url(../images/radio.png);
    background-size: 0%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
    transition: background-size 0.5s ease;
}


/*////////////////////////////////////////////////////
// BOTONES ///////////////////////////////////////////
////////////////////////////////////////////////////*/


button {
    background: transparent;
    padding: 10px 18px;
    border: 1px solid var(--skyblue);
    font-family: 'Orbitron', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    width: 50%;
    color: var(--skyblue);
    transition: all 0.6s linear;
    text-shadow: 0rem 0.03rem 0.1rem var(--turquoise);
    border-radius: 0.4rem;
}

button:hover {
    color: var(--blue);
    background: var(--skyblue);
    text-shadow: 0rem 0.03rem 0.1rem var(--turquoise);
    cursor: pointer;
}


.btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
}


.btn-container>button {
    width: 100%;
}


/*////////////////////////////////////////////////////
// DISEÑO DEL FOOTER//////////////////////////////////
////////////////////////////////////////////////////*/


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}


p {
    color: var(--skyblue);
    font-size: 0.9rem;
    text-shadow: 0rem 0.03rem 0.1rem var(--turquoise);
}


p>a {
    color: var(--skyblue);
    text-decoration: none;
    text-shadow: 0rem 0.03rem 0.1rem var(--turquoise);
    font-weight: 700;

}


/*////////////////////////////////////////////////////
// ANIMACIONES ///////////////////////////////////////
////////////////////////////////////////////////////*/


@keyframes blink-lines {
    0% {
        opacity: 0.85;
    }

    100% {
        opacity: 1;
    }
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }


@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    50.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


@keyframes glowing {
    from {
        box-shadow: 0 0 150px rgba(0, 255, 255, 0.2) inset;
    }

    to {
        box-shadow: 0 0 200px rgba(0, 255, 255, 0.5) inset;
    }
}


/*////////////////////////////////////////////////////
// MEDIAQUERIES //////////////////////////////////////
////////////////////////////////////////////////////*/


/* Cuando la pantalla es menor a 700px la dirección de los items flex va a ser uno bajo al otro */
@media screen and (max-width: 760px) {

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--blue);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--skyblue);
    }
    html {
        height: 100%;
    }
    body {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 32rem;
        padding: 2rem;
        padding-bottom: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
    nav h1 {
        text-align: center;
        font-size: 1.6rem;
        margin-top: 1rem;
        padding: 0 1rem;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
    }

    .in-section {
        padding-bottom: 8rem;
        width: 100%;
    }

    .out-section {
        width: 100%;
    }

    #btn-encrypt {
        margin-bottom: 0.3rem ;
    }

    .radiation {
        background-size: 25%;
        background-position: center bottom;
    }

    .radiationS {
        background-size: 0%;
    }

    footer {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 2rem 0rem;
    }
}